*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    color: #fff;
}
/*KINDLY ADD MEDIAQUERIES AT THE END OF PAGE*/




.navbar{
    height: 60px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
     position: fixed;
     z-index: 10;
}


/*LOGO STYLING ----- */
.logo{
    margin-left: 40px;
}
.logo a h1{
    font-size: 20px;

}
.logo p{
   color: rgb(129, 129, 129); 
}
.logo .red{
    color: rgb(176, 0, 0);
}
.logo a{
    text-decoration: none;
}


/*NAVIGATION BAR MENU STYLING*/
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 500px;
    margin-right: 40px;
    transition: all .3s ease;
}
.menu a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.menu a:hover{
    text-shadow: 0 0 10px red , 
                0 0 5px red,
                0 0 7px red;
}



/*HAMBURGER BUTTON STYLING*/

.ham{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    display: none;
}

.ham span{
    width:33px ;
    height: 3px;
    background: #fff;
    border-radius: 100px;
}
.activeHam .line1{
    position: absolute;
    transform: rotate(45deg);
}
.activeHam .line2{
    position: absolute;
    transform: rotate(-45deg);
}
.activeHam .line3{
   display: none;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.txtContainer{
    width: 100%;
   margin-top: 60px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.txtContainer h1  {
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 20px;
    color: red;
}
.txtContainer i{
    color: #fff;
    font-size: clamp(1.2rem, 1.2vw, 1.2em);
}
.txtContainer p , .registerbtn{
    color: #acacac;
    font-size: 1.3em;
    text-align: center;
}
.registerbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*STYLING TIMER CLOCK*/

.clock , .bgtext{
    display: flex;
    width: 95vw;
    max-width: 450px;
    height: 100px;
   justify-content: space-evenly;
   margin: 20px;
   /* background: #000; */
   position: relative;
   
}
.registerBox{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.bgtext .box{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, .6);
    /* background: rgba(95, 95, 95, 0.2);
    border: 1px solid rgba(255, 255, 255, .6); */
    backdrop-filter: blur(2.5px);
    border-radius: 20px;
            }
      
.white{
    color: #fff;
}

.bgtext .box .value{
    font-size: 40px;
    color: #fff;
}

.bgtext .box h3{
    color: #fff;
    font-size: 13px;
}
 .btn{
    padding: 10px 27px;
    background: #000;
    border: 1px solid red;
    border-radius: 10px;
    transition: all 0.3s ;
    margin: 20px;
    cursor: pointer;
 }

 .btn:hover{
    box-shadow: 0 0 10px red,
                0 0 5px red,
                0 0 15px red;

 }
.registerbtn , .registerBox , .txtContainer{
    padding: 20px;
}

@media (max-width: 730px) {
    .menu{
        height: 0px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 60px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background: #000;
    }
 
    .activeMenu{
        height: 300px;
        opacity: 1;
        pointer-events: auto;

    }
    .menu a{
        margin-left: 30px;
    }
    .ham{
        display: flex;
    }
}
